body {
    margin: 0;
    background-color: #212121;
}

nav > div{
    background-color: #CFE3E2;
    width: 100%;
    
}

#logo{
    width: 25%;
    margin: auto;
    display: block;
    padding: 10px;
}

#container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 20px;
    padding: 10px;
}

#container > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25pt;
    text-decoration: none;
    border-radius: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
}

#deptClass{
    background-color: #CFE3E2;
    justify-content: center;
    color: #6B7F4C;
    width: 95%;
    margin: 10px auto;
    border-radius: 15px;
    padding: 5px;
    padding-bottom: 20px;
    text-align: center;
}
#time{
    text-align: left;
    margin-top: -50px;
    font-size: 14pt;
    padding-left: 65px;
    color: #1E6980;
}
#content{
    background-color: #1E6980;
    width: 90%;
    margin: auto;
    border-radius: 15px;
}

#classes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0px;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

#classes > li{
    padding: 10px 0;
    border: #CFE3E2;
    border-style: solid;
    border-width: 1pt;
    text-align: center;
    font-size: 15pt;
    color: white;
    height: 75px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#classes > li > a{
    text-align: center;
    font-size: 15pt;
    color: white;
    text-decoration: none;
}

#classInfo{
    width: 85%;
    padding: 0 80px;
    font-size: 15pt;
    color: #212121;
    text-align: left;
}

#back{
    background-color: #1E6980;
    color: white;
    font-size: 15pt;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
   
}

#index > form{
    background-color: #CFE3E2;
}

.cmps {
    background-color: #1E6980;
  }
  
.math {
    background-color: #DA7F26;
}
  
.history {
    background-color: #6B7F4C;
}
  
.science {
    background-color: #D44220;
}

.business {
    background-color: #DA7F26;
  }
  
.english {
    background-color: #6B7F4C;
}
  
.nursing {
    background-color: #D44220;
}
  
.psychology {
    background-color: #1E6980;
}